.tema {
    background-color: #121212; /* Fondo negro */
    color: #ffffff; /* Letras blancas */
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 50px;
}

.navbar-yellow {
    background-color: rgb(255, 217, 0);
}

#searchbar {
    margin-left: auto; /* Mover la barra de búsqueda a la derecha */
}

.contenedor-recuadros {
    display: flex;
    flex-wrap: wrap; /* Permitir que los recuadros se muevan a la siguiente línea */
    justify-content: center; /* Centrar los recuadros */
    margin-top: 100px;
    gap: 20px; /* Espacio entre los recuadros */
}

.recuadros {
    flex: 1 1 21%; /* Ajustar el tamaño y el espacio de los recuadros */
    max-width: 300px; /* Ancho máximo de cada recuadro */
    height: 300px;
    border-radius: 10px;
    border: 2px solid aquamarine;
    padding: 10px; /* Espacio interno */
    background-color: #1e1e1e; /* Fondo de los recuadros */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para mejorar la visual */
    overflow: hidden; /* Ocultar desbordamiento */
}

.recuadros img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.recuadros p {
    margin: 0;
    padding: 0;
}

#logo{
    height: auto;
    width: 100px;
    margin-right: 50px;
}

/* carrusel */

.slider-box {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    margin-top: 100px;
}

.slider-box ul {
    width: 400%;
    display: flex;
    padding: 0;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box  li {
    width: 100%;
    position: relative;
    list-style: none;
}

.slider-box img {
    width: 100%;
    height: 600px; /* Ajusta la altura de las imágenes según sea necesario */
    object-fit: cover; /* Mantener el ancho completo de las imágenes */
}

#searchbar{
    width: 200vh;
    margin-right: 5vh;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}
